.card {
  padding: 10px;
  box-shadow: 2px 4px 7px #969595;
  margin: 50px;
  padding-bottom: 20px;
}

.car-card {
  padding: 10px;
  box-shadow: 2px 4px 7px #969595;
  margin: 50px;
  display: inline-block;
  border-radius: 2px;
}

.reset {
  text-decoration: none;
  color: #ffc107;
  cursor: pointer;
}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.vertical-radio-group {
  display: flex;
  flex-direction: column;
}

.edit-icon {
  cursor: pointer;
}

#submit-btn {
  background-color: #ffc107;
}

.search {
  position: relative;
  display: inline-block;
}

.search input {
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 135%;
  margin-bottom: 10px;
}

.search input::placeholder {
  color: #999;
}

.search input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.search:hover::before {
  color: #333;
}
