.main {
    background-color: rgb(255, 255, 255);
}

/* .main2 {
    background-color: green;
} */

.card {
    padding: 10px;
    box-shadow: 2px 4px 7px #969595;
    margin: 50px;
}


.car-card {
    padding: 10px;
    box-shadow: 2px 4px 7px #969595;
    margin: 50px;
    display: inline-block;
    border-radius: 2px;
}

.reset {
    text-decoration: none;
    color: #FFC107;
}

.side-body {
    margin-left: 0px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
}

.book-btn {
    background-color: #FFC107;
}