h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
}

.edit-host-form {
  max-width: 400px;
  margin: auto;
}

.example-full-width {
  width: 100%;
}

.error-message {
  color: red;
}

.button-container {
  display: flex;
  justify-content: center;
}

h1.mt-3 {
  margin-top: 1.5rem;
}
