<div class="container mt-3">
  <h1 class="mx-2">Users</h1>
  <div class="mat-elevation-z8">
    <div class="table-responsive" *ngIf="dataSource">
      <table class="table-responsive" mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell *matCellDef="let element"> 
            <img [src]="getImage(element.profile ? element.profile.toString() : '')" alt="" width="36px" style="border-radius: 50%;">
            <img *ngIf="!element.profile" src="../../../assets/images/Multiavatar-9bb90a446ed5280395.png" alt="" width="36px" style="border-radius: 50%;">
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Phone </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="hihihi">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-flat-button color="warn" *ngIf="!element.isBlocked" class="m-2"
              (click)="onblock(element._id)">Block</button>
            <button mat-flat-button color="primary" *ngIf="element.isBlocked" class="m-2"
              (click)="onunblock(element._id)">Unblock</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>