.mat-raised-button.mat-blue,
.mat-flat-button.mat-blue {
  background-color: blue;
  color: white;
}

#pay-btn {
  background-color: #00a87e;
}


.card-header {
  background-color: #ffffff;
  color: #fff;
}

.card-body {
  background-color: #fff;
}

.btn {
  color: black;
}