.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* mat-toolbar {
  background-color: #b3b3b3;
} */

.mat-icon {
  vertical-align: middle;
  margin-right: 8px; 
  font-size: 21px;
}


