<section>
    <mat-tab-group dynamicHeight>
        <mat-tab label="Profile">
            <div class="container">
                <div class="container mt-3">
                    <div class="card-body" *ngIf="userDetails | async as u">
                        <div class="row justify-content-around">
                            <div class="d-flex justify-content-end">
                                <a class="edit-icon" (click)="edit()"><i class="fas fa-pencil-alt"></i></a>
                            </div>
                            <div class="col-lg-2">
                                <div class="text-center" (mouseenter)="isHovered = true"
                                    (mouseleave)="isHovered = false">
                                    <img [src]="getImage(u.profile ? u.profile.toString() : '')" alt=""
                                        class="rounded-circle" style="width: 150px; height: 150px" />
                                    <div class="edit-profile" *ngIf="isHovered && profile == null"
                                        (click)="openFileInput.click()">
                                        <button>Edit Profile</button>
                                    </div>
                                    <div *ngIf="profile">
                                        <div>
                                            <p class="text-center"><b>Upload {{ this.profile ? this.profile.name : '' }}
                                                    ?</b>
                                            </p>
                                            <a class="upload-btn">
                                                <button (click)="updateProfile()"> Upload </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                                <div class="row justify-content-around">
                                    <div class="col-lg-6">
                                        <mat-form-field appearance="outline" style="width: 61%;"
                                            class="example-full-width">
                                            <mat-label>Name</mat-label>
                                            <input formControlName="name" [ngModel]="u.name" matInput
                                                [readonly]="!isEditable">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row justify-content-around">
                                    <div class="col-lg-6">
                                        <mat-form-field appearance="outline" style="width: 61%;"
                                            class="example-full-width">
                                            <mat-label>Email</mat-label>
                                            <input formControlName="email" [ngModel]="u.email" matInput readonly>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row justify-content-around">
                                    <div class="col-lg-6">
                                        <mat-form-field appearance="outline" style="width: 61%;"
                                            class="example-full-width">
                                            <mat-label>Phone</mat-label>
                                            <input formControlName="phone" [ngModel]="u.phone" matInput
                                                [readonly]="!isEditable">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="text-center" *ngIf="isEditable">
                                    <button class="mb-3" color="primary" mat-raised-button type="submit">Save
                                        Changes</button>
                                </div>
                            </form>
                        </div>
                        <!-- Hidden input to trigger file input dialog -->
                        <input type="file" #openFileInput style="display: none" (change)="onProfileSelected($event)"
                            accept="image/*">
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Change Password">
            <div class="container text-center mt-5">
                <form [formGroup]="changePassForm" (ngSubmit)="onSubmitPass()" #passForm="ngForm">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline" style="width: 61%;" class="example-full-width">
                                <mat-label>Old Password</mat-label>
                                <input formControlName="oldpass" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline" style="width: 61%;" class="example-full-width">
                                <mat-label>New Password</mat-label>
                                <input formControlName="newpass" matInput>
                            </mat-form-field>
                            <div class="text-danger mb-3 text-left"
                                *ngIf="passForm.submitted && changePassForm.controls['newpass'].errors">
                                <div *ngIf="changePassForm.controls['newpass'].dirty">
                                    <span class="block"
                                        [ngClass]="{'text-primary': changePassForm.controls['newpass'].value?.match('^(?=.*[A-Z])')}">At
                                        least uppercase letter.</span><br>
                                    <span class="block"
                                        [ngClass]="{'text-primary': changePassForm.controls['newpass'].value?.match('(?=.*[a-z])')}">At
                                        least one lowercase letter.</span><br>
                                    <span class="block"
                                        [ngClass]="{'text-primary': changePassForm.controls['newpass'].value?.match('(.*[0-9].*)')}">At
                                        least one digit.</span><br>
                                    <span class="block"
                                        [ngClass]="{'text-primary': changePassForm.controls['newpass'].value?.match('(?=.*[!@#$%^&*])')}">At
                                        least one special character.</span><br>
                                    <span class="block"
                                        [ngClass]="{'text-primary': changePassForm.controls['newpass'].value?.match('.{8,}')}">At
                                        least 8 characters long.</span><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <mat-form-field appearance="outline" style="width: 61%;" class="example-full-width">
                                <mat-label>Confirm Password</mat-label>
                                <input formControlName="confirmpass" matInput>
                            </mat-form-field>
                            <div style="width: 500px;"
                                *ngIf="passForm.submitted && changePassForm.controls['confirmpass'].errors"
                                class="text-danger text-left">
                                <p
                                    *ngIf="passForm.submitted && changePassForm.controls['confirmpass'].getError('passwordMismatch')">
                                    Confirm Password doesn't match.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button mat-raised-button color="primary" type="submit">Change Password</button>
                    </div>
                </form>
            </div>
        </mat-tab>
    </mat-tab-group>
</section>

<!-- [src]="getImage(u.profile ? u.profile.toString() : '../../../assets/images/no-image.avif')" -->