/* .mat-button {
    display: flex;
    justify-content: end;
}  */

/* .image {
    align-items: center;
}

/* Add these styles to your component's CSS file */

/* .dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
} */

/* .image {
    display: flex;
    justify-content: center;
} */