<app-header></app-header>

<div class="background-image">
    <!-- <div class="center-card"> -->
        <div class="card">
            <mat-stepper orientation="vertical" [linear]="isLinear" #stepper animationDuration="1000">
                <mat-step [stepControl]="rangeSelect">
                    <form [formGroup]="rangeSelect">
                        <ng-template matStepLabel>Select Date</ng-template>
                        <mat-form-field>
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input [rangePicker]="picker" [min]="minDate" [max]="maxDate">
                              <input matStartDate formControlName="startDate" placeholder="Start date" >
                              <input matEndDate formControlName="endDate" placeholder="End date">
                            </mat-date-range-input>
                            <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                          </mat-form-field>
                        <div>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="pickupLocation">
                    <form [formGroup]="pickupLocation">
                        <ng-template matStepLabel>Select Pickup Location</ng-template>
                        <mat-form-field>
                            <mat-label>Pickup Location</mat-label>
                            <input matInput formControlName="pickup" required>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="dropLocation">
                    <form [formGroup]="dropLocation">
                        <ng-template matStepLabel>Select Dropoff Location</ng-template>
                        <mat-form-field>
                            <mat-label>Dropoff Location</mat-label>
                            <input matInput formControlName="dropoff" required>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    <p>You are now done.</p>
                    <div>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                        <button mat-button (click)="submit()">Submit</button>
                    </div>
                </mat-step>
            </mat-stepper>
        </div>
    <!-- </div> -->
</div>


<app-footer></app-footer>