<app-host-header></app-host-header>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">Uploaded Successfully!!</h1>
            <h4 class="card-title text-center">
                Your details have been updated successfully.<br> Please note that you will be able to access our
                services
                once our team completes the verification process.<br> You will receive an email notification once your
                verification is complete.<br><b>Thank you for your patience and understanding.</b>
            </h4>
            <p class="card-text text-center"><b class="text-danger">Note : Verification process may take approximately 24-48 hours to complete.</b></p>
        </div>
        <div class="redirect-button">
            <a routerLink="/host" class="bn3637 bn36">Back to login</a>
        </div>
    </div>
</div>

<app-host-footer></app-host-footer>
