<div class="container py-3">
    <div>
        <h1 class="mx-2">Edit Vehicle</h1>
    </div>
    <mat-stepper [linear]="!isLinear" #stepper>
        <mat-step [stepControl]="vehicleForm" label="Upload Vehicle Details">
            <form [formGroup]="vehicleForm" #form="ngForm">
                <div class="row">
                    <div class="col-lg-12 mb-4 mb-sm-5">
                        <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                            <div class="row">
                                <div class="col-lg-6 px-xl-10">
                                    <div *ngIf="vehicle as v">
                                        <mat-form-field appearance="outline" class="example-full-width">
                                            <mat-label>Name</mat-label>
                                            <input formControlName="name" [(ngModel)]="v.name" matInput>
                                        </mat-form-field>
                                        <div *ngIf="form.submitted && vehicleForm.controls['name'].errors"
                                            class="text-danger">
                                            <p
                                                *ngIf="form.submitted && vehicleForm.controls['name'].errors['minlength']">
                                                Name should have min 4 characters
                                            </p>
                                        </div>
                                    </div>
                                    <div *ngIf="vehicle as v">
                                        <mat-form-field appearance="outline" class="example-full-width">
                                            <mat-label>Brand</mat-label>
                                            <input formControlName="brand" [(ngModel)]="v.brand" matInput>
                                        </mat-form-field>
                                        <div *ngIf="form.submitted && vehicleForm.controls['brand'].errors"
                                            class="text-danger">
                                            <p
                                                *ngIf="form.submitted && vehicleForm.controls['brand'].errors['minlength']">
                                                Brand should have min 3 characters
                                            </p>
                                        </div>
                                    </div>
                                    <div *ngIf="vehicle as v">
                                        <mat-form-field appearance="outline" class="example-full-width">
                                            <mat-label>Model</mat-label>
                                            <input formControlName="make" [(ngModel)]="v.make" maxlength="4" matInput>
                                        </mat-form-field>
                                        <div *ngIf="form.submitted && vehicleForm.controls['make'].errors"
                                            class="text-danger">
                                            <p
                                                *ngIf="form.submitted && vehicleForm.controls['make'].errors['pattern']">
                                                Model should be digits
                                            </p>
                                        </div>
                                    </div>
                                    <div *ngIf="vehicle as v">
                                        <mat-form-field appearance="outline" class="example-full-width">
                                            <mat-label>Transmission</mat-label>
                                            <mat-select formControlName="transmission" [(ngModel)]="v.transmission">
                                                <mat-option *ngFor="let t of transmission" [value]="t">
                                                    {{ t }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="vehicle as v">
                                        <mat-form-field appearance="outline" class="example-full-width">
                                            <mat-label>Fuel</mat-label>
                                            <mat-select formControlName="fuel" [(ngModel)]="v.fuel">
                                                <mat-option *ngFor="let f of fuel" [value]="f">
                                                    {{ f }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <mat-form-field appearance="outline" class="example-full-width">
                                            <mat-label>Location</mat-label>
                                            <input #editInputLocation [value]="vehicleLocation"
                                                placeholder="Enter a location..." matInput>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="vehicle as v">
                                        <mat-form-field appearance="outline" class="example-full-width">
                                            <mat-label>Price / day</mat-label>
                                            <input formControlName="price" [(ngModel)]="v.price" matInput>
                                        </mat-form-field>
                                        <div *ngIf="form.submitted && vehicleForm.controls['price'].errors"
                                            class="text-danger">
                                            <p
                                                *ngIf="form.submitted && vehicleForm.controls['price'].errors['pattern']">
                                                Price should be digits
                                            </p>
                                        </div>
                                        <div *ngIf="vehicleForm.controls['price'].dirty">
                                            <p>{{ vehicleForm.controls['price'].value }} - 20% = {{
                                                vehicleForm.controls['price'].value * 0.8 | currency: 'INR' }}</p>
                                            <p>20% has been deducted. This is the amount you will get on this vehicle on
                                                order.</p>
                                        </div>
                                    </div>
                                    <div>
                                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div id="host-edit-map"></div>
                                    <span>
                                        <button id="current-btn" (click)="currentLocation()"
                                            class="btn btn-md btn-neutral">
                                            Get Current Location
                                        </button>
                                    </span>
                                    <div id="infowindow-content">
                                        <span id="place-name" class="title"></span><br />
                                        <span id="place-address"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step label="Upload Vehicle Images">
            <form>
                <div class="row">
                    <div class="col-lg-5 mt-4 mb-4 mb-lg-0">
                        <mat-card class="input-container">
                            <button (click)="fileInput.click()" mat-raised-button color="primary">Upload Photos
                                <input #fileInput multiple formControlName="firstCtrl" (change)="getFile($event)"
                                    style="opacity: 0; position:absolute; left:0px; top:0px; width:100%; height:100%;"
                                    type="file" />
                            </button>
                            <ul *ngFor="let file of files">
                                <li class="mt-3">{{ file }}</li>
                            </ul>
                        </mat-card>
                    </div>
                    <div class="col-lg-6">
                        <div class="current-images mt-3" *ngIf="vehicle as v">
                            <div *ngFor="let image of v.images">
                                <img [src]="getImage(image ? image.toString() : '')" alt="Current Vehicle Image"
                                    width="200px" height="140px">
                                <button class="mx-3" mat-icon-button (click)="deleteImage(v._id,image)">
                                    <mat-icon color="warn">delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <button class="me-2" mat-raised-button matStepperPrevious>Back</button>
                    <button mat-raised-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step label="Upload Vehicle RC">
            <form>
                <div class="row">
                    <div class="col-lg-5 mt-4 mb-4 mb-lg-0">
                        <mat-card class="input-container">
                            <button (click)="fileInputSingle.click()" mat-raised-button color="primary">Upload Photos
                                <input #fileInputSingle formControlName="secondCtrl" (change)="getDocument($event)"
                                    style="opacity: 0; position:absolute; left:0px; top:0px; width:100%; height:100%;"
                                    type="file" />
                            </button>
                            <ul *ngIf="document">
                                <li class="mt-3">{{ document.name }}</li>
                            </ul>
                        </mat-card>
                    </div>
                    <div class="col-lg-7">
                        <div class="current-images mt-3" *ngIf="vehicle as v">
                            <img [src]="getImage(v.document ? v.document.toString() : '')" alt="Doc Image"
                                width="200px" height="140px">
                        </div>
                        <h3>To update document you just need to add new document.<br> It will override current one</h3>
                    </div>
                </div>
                <div class="mt-4">
                    <button class="me-2" mat-raised-button>Reset</button>
                    <button mat-raised-button (click)="onSubmit()">Save</button>
                </div>
            </form>
        </mat-step>
    </mat-stepper>
</div>




<!-- <div class="container py-3">
    <div>
        <h1 class="mx-2">Edit Vehicle</h1>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4 mb-sm-5">
            <div class="card card-style1 border-0">
                <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                    <div class="row">
                        <div class="col-lg-5 mb-4 mb-lg-0">
                            <mat-card class="input-container">
                                <button (click)="fileInput.click()" mat-raised-button color="primary">Upload Photos
                                    <input #fileInput multiple (change)="getFile($event)"
                                        style="opacity: 0; position:absolute; left:0px; top:0px; width:100%; height:100%;"
                                        type="file" />
                                </button>
                                <ul *ngFor="let file of files">
                                    <li class="mt-3">{{ file }}</li>
                                </ul>
                            </mat-card>
                            <div class="current-images mt-3" *ngIf="vehicle | async as v">
                                <div *ngFor="let image of v.images">
                                    <img [src]="getImage(image ? image.toString() : '')" alt="Current Vehicle Image" width="149px" height="124px">
                                    <button class="mx-3" mat-icon-button (click)="deleteImage(v._id,image)">
                                        <mat-icon color="warn">delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 px-xl-10" *ngIf="vehicle | async as v">
                            <form [formGroup]="vehicleForm" #form="ngForm" (ngSubmit)="onSubmit()">
                                <div>
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>Name</mat-label>
                                        <input formControlName="name" [ngModel]="v.name" matInput>
                                    </mat-form-field>
                                    <div *ngIf="form.submitted && vehicleForm.controls['name'].errors" class="text-danger">
                                        <p *ngIf="form.submitted && vehicleForm.controls['name'].errors['minlength']">
                                            Name should have min 4 characters
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>Brand</mat-label>
                                        <input formControlName="brand"  [ngModel]="v.brand" matInput>
                                    </mat-form-field>
                                    <div *ngIf="form.submitted && vehicleForm.controls['brand'].errors" class="text-danger">
                                        <p *ngIf="form.submitted && vehicleForm.controls['brand'].errors['minlength']">
                                            Brand should have min 3 characters
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>Model</mat-label>
                                        <input formControlName="model" maxlength="4"  [ngModel]="v.model" matInput>
                                    </mat-form-field>
                                    <div *ngIf="form.submitted && vehicleForm.controls['model'].errors" class="text-danger">
                                        <p *ngIf="form.submitted && vehicleForm.controls['model'].errors['pattern']">
                                           Model should be digits
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>Transmission</mat-label>
                                        <mat-select formControlName="transmission" [ngModel]="v.transmission">
                                            <mat-option *ngFor="let t of transmission" [value]="t">
                                                {{ t }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>Fuel</mat-label>
                                        <mat-select formControlName="fuel" [ngModel]="v.fuel">
                                            <mat-option *ngFor="let f of fuel" [value]="f">
                                                {{ f }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>Location</mat-label>
                                        <input formControlName="location" [ngModel]="v.location" matInput>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>Price</mat-label>
                                        <input formControlName="price" [ngModel]="v.price" matInput>
                                    </mat-form-field>
                                    <div *ngIf="form.submitted && vehicleForm.controls['price'].errors" class="text-danger">
                                        <p *ngIf="form.submitted && vehicleForm.controls['price'].errors['pattern']">
                                            Price should be digits
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <button class="me-2" color="primary" type="submit" mat-raised-button>Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->