<app-header></app-header>

<section>
    <div class="container">
        <div class="car-details" *ngIf="vehicleDetails as v">
            <div class="row">
                <div class="main col-lg-5" *ngIf="v.images">
                    <gallery gallerize [items]="images"></gallery>
                </div>
                <div class="col-lg-7">
                    <div class="row mt-5">
                        <h1>{{ v.brand }} {{ v.name }}</h1>
                    </div>
                    <h4>Model : {{ v.make }}</h4>
                    <h4>Fuel : {{ v.fuel }}</h4>
                    <h4>Transmission : {{ v.transmission }}</h4>
                    <h2 class="price mt-1">
                        {{ v_price | currency : "INR" : "symbol" : "1.2-2" }}
                    </h2>
                    <button mat-raised-button id="book-btn" [routerLink]="['/checkout', v._id]">
                        Book Now
                    </button>
                </div>
            </div>
        </div>
        <div class="container review">
            <div class="row">
                <div class="d-flex justify-content-between">
                    <h1>Reviews</h1>
                    <div *ngIf="isBookedCompleted">
                        <button data-bs-toggle="modal" data-bs-target="#exampleModal" mat-raised-button
                            color="primary">Add Review</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <ng-container *ngIf="reviews?.length > 0; else noReview">
                            <div class="card-body" *ngFor="let r of reviews.slice(0,2)">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <img [src]="getImage(r.userId.profile ? r.userId.profile.toString() : '')"
                                            width="35px" alt=""/>
                                        <h4 class="user-name ms-3">
                                            {{ r.userId.name }}
                                        </h4>
                                    </div>
                                    <button class="mx-3" mat-icon-button *ngIf="r.userId._id === userId"
                                        (click)="deleteReview(r._id)">
                                        <mat-icon color="warn">delete</mat-icon>
                                    </button>
                                </div>
                                <div>
                                    <h3>
                                        <b>Review : {{ r.review }}</b>
                                    </h3>
                                </div> 
                                <div class="row" *ngIf="r.rating">
                                    <div class="col-lg-2">
                                        <h3><b>Ratings :</b></h3>
                                    </div>
                                    <div class="col-lg-3" style="margin-left: -129px; margin-top: -5px;" >
                                        <ng-container *ngFor="let star of rating">
                                            <img width="37" height="34" src="https://img.icons8.com/fluency/48/star--v1.png" alt="star--v1" />
                                        </ng-container>
                                    </div>
                                </div>
                                <hr />
                            </div>
                            <div class="mx-3 mb-3" *ngIf="reviews.length > 2">
                                <a [routerLink]="['/view-reviews', vehicleDetails?._id]">View all {{ reviews.length }}
                                    reviews</a>
                            </div>
                        </ng-container>
                        <ng-template #noReview>
                            <div class="text-center mt-3">
                                <p>No reviews yet.</p>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>


<div class="modal fade" #exampleModal id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Review and Rating</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
                    <div class="mb-3">
                        <label for="reviewText" class="form-label"><b>Review :</b></label>
                        <textarea class="form-control" id="reviewText" formControlName="review" rows="3"
                            placeholder="Enter your review"></textarea>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-lg-2" style="margin-top: 12px;">
                                <label for="rating" class="form-label"><b>Rating :</b></label>
                            </div>
                            <div class="col-lg-6">
                                <ngx-star-rating class="mb-3" formControlName="rating"
                                    [id]="'rating'"></ngx-star-rating>
                            </div>
                        </div>
                    </div>
                    <button type="button" mat-raised-button id="close" class="me-2"
                        data-bs-dismiss="modal">Close</button>
                    <button type="submit" mat-raised-button id="save" (click)="close()">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>