.car-details {
  margin-top: 165px;
}

.review {
  margin-top: 115px;
  padding-bottom: 50px;
}

#book-btn {
  background-color: #ffc107;
}

.example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

.user-name {
  padding-left: 40px;
  margin-top: -23px;
}

gallery {
  background-color: white;
}

gallery-core {
  background-color: white;
}

.g-counter {
  background-color: white;
}

.g-slider {
  background-color: white;
}

gallery-core[autoHeight=true][thumbPosition=bottom] .g-slider {
  background-color: white;
}

::ng-deep label.star {
  font-size: 20px !important;
}

#close {
  background-color: rgb(218, 38, 38);
}

#save {
  background-color: rgb(20, 188, 20);
}

.rating {
  font-size: 24px; 
}

.filled {
  color: gold;
}

