<app-header></app-header>


<div class="container">
    <h1>My Account</h1>

    <!-- Navigation Tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" [routerLink]="['/user-profile/bookings']" routerLinkActive="active">Bookings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab"[routerLink]="['/user-profile/profile']" routerLinkActive="active">My Profile</a>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content">
        <router-outlet></router-outlet>
    </div>
</div>



<app-footer></app-footer>