<form [formGroup]="reasonForm" (ngSubmit)="saveClick()" #issueform="ngForm">
  <div class="container">
    <h2>Submit Reason</h2>
    <div class="content">
      <mat-dialog-content>
        <mat-form-field class="example-full-width">
          <mat-label>Reason</mat-label>
          <textarea
            matInput
            formControlName="reason"
            class="text-input"
          ></textarea>
        </mat-form-field>
      </mat-dialog-content>
      <div
        style="padding-left: 25px"
        *ngIf="issueform.submitted && reasonForm.controls['reason'].errors"
        class="text-danger"
      >
        <p
          *ngIf="
            issueform.submitted &&
            reasonForm.controls['reason'].errors['required']
          "
        >
          reason is required
        </p>
        <p
          *ngIf="
            issueform.submitted &&
            reasonForm.controls['reason'].errors['minlength']
          "
        >
          Should have minimum 4 characters
        </p>
      </div>
      <div>
        <ng-container
          *ngIf="reasonForm.get('refundOption')?.value === 'wallet'"
        >
          <p class="px-4">
            <b>Note: </b> By cancelling the vehicle you will be refunded
            <b>{{
              calculateRefund(
                bookingDetails[0].startDate,
                bookingDetails[0].grandTotal
              ) | currency : "INR"
            }}</b>
          </p>
        </ng-container>
        <!-- <ng-template #sourceRefund>
          <p class="px-4">
            <b>Note: </b> By cancelling the vehicle you will be refunded
            <b
              >{{
                calculateSourceRefund(
                  bookingDetails[0].startDate,
                  bookingDetails[0].grandTotal
                ) | currency : "INR"
              }}
              ( XXX amount will be deducted as razorpay service charge )</b
            >
          </p>
        </ng-template> -->
      </div>

      <!-- <mat-radio-group formControlName="refundOption">
        <mat-radio-button class="px-3" value="wallet"
          >Refund to Wallet</mat-radio-button
        >
        <mat-radio-button value="source">Refund to Source</mat-radio-button>
      </mat-radio-group> -->
    </div>

    <div class="button-container">
      <mat-dialog-actions>
        <button
          mat-raised-button
          class="proceed-button"
          color="warn"
          type="submit"
        >
          Proceed
        </button>
        <button
          mat-raised-button
          (click)="closepopup()"
          type="button"
          class="cancel-button"
        >
          Cancel
        </button>
      </mat-dialog-actions>
    </div>
  </div>
</form>
