<app-header></app-header>

<section>
    <div class="container">
        <div class="card">
            <div class="card-body" *ngIf="vehicleDetails as v">
                <div class="row">
                    <div class="v-image d-flex justify-content-center">
                        <img [src]="getImage(v.images ? v.images[0].toString() : '')"
                            style="width: 258px; height: 175px;" alt="vehicle image">
                    </div>
                    <div class="row">
                        <div class="col-xs-12 d-flex justify-content-center">
                            <h2><b>{{ v.brand }} {{ v.name }}</b></h2>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row" *ngIf="bookingDetails">
                    <div class="col-lg-6 col-sm-6 text-center">
                        <h3>Start Date : <b>{{ bookingDetails[0].startDate | date }} </b> </h3>
                    </div>
                    <div class="col-lg-6 col-sm-6  text-center">
                        <h3>End Date : <b>{{ bookingDetails[0].endDate | date }} </b> </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6  text-center">
                        <h3>Pickup Location : <b>{{ bookingDetails[0].pickup }} </b></h3>
                    </div>
                    <div class="col-lg-6 col-sm-6  text-center">
                        <h3>Dropoff Location : <b>{{ bookingDetails[0].dropoff }} </b></h3>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <h3>Amount : <b>{{ bookingDetails[0].grandTotal | currency:'INR' }}</b></h3>
                </div>
                <div class="d-flex justify-content-center">
                    <ng-container *ngIf="bookingDetails[0].status !== 'cancelled'; else elseBlock">
                        <ng-container *ngIf="isNotExpired(); else expiredBlock">
                        <button mat-raised-button (click)="openReasonDialog(bookingDetails[0]._id)" color="warn">Cancel
                            Booking</button>
                        </ng-container>
                    </ng-container>
                    <ng-template #elseBlock>
                        <h2 class="text-danger">Booking Cancelled</h2>
                    </ng-template>
                    <ng-template #expiredBlock>
                        <h2 class="text-success">Booking Completed</h2>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>