<div class="container mt-3 mx-1">
  <h1>Dashboard</h1>
  <div class="row ms-1 me-1">
    <div class="col-lg-3">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-title border-bottom">
          <h2>Total Revenue</h2>
        </div>
        <div class="card-body">
          <!-- Add your content here -->
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-title border-bottom">
          <h2>Total Host Revenue</h2>
        </div>
        <div class="card-body">
          <!-- Add your content here -->
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-title border-bottom">
          <h2>Total Completed Bookings</h2>
        </div>
        <div class="card-body">
          <!-- Add your content here -->
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-title border-bottom">
          <h2>Total Vehicles</h2>
        </div>
        <div class="card-body">
          <!-- Add your content here -->
        </div>
      </div>
    </div>
  </div>
</div>
