<footer class="text-center text-lg-start text-white">
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mt-4">
            <img
              src="../../assets/images/footer-logo.png"
              height="77px"
              alt="image not showing"
            />
          </h6>
          <p>
            WheelsOnDemand follows the core values & principles which makes
            customer satisfaction as our top-most priority.
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mt-4">About</h6>
          <p>
            <a href="#!" class="text-reset">Home</a>
          </p>
          <p>
            <a href="#!" class="text-reset">About us</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Signup</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-4">
          <h6 class="text-uppercase fw-bold">Support</h6>
          <p>
            <a href="#!" class="text-reset">FAQ'S</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Pricing Policy</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Terms & Conditions</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mt-4">
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <p>WHEELS ON DEMAND INDIA PRIVATE LIMITED</p>
          <p><i class="fas fa-phone"></i> + 91 234 567 88</p>
          <p><i class="fas fa-print"></i> + 91 234 567 89</p>
        </div>
      </div>
    </div>
  </section>

  <!-- responsive issue in hr -->
  <!-- <div>
        <hr style="width: 1252px; margin-left: 118px; color: orange;">
    </div> -->

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
      >WheelsOnDemand</a
    >
  </div>
</footer>
