.shadow-table {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.status-cancelled {
  color: red;
}

.status-booked {
  color: orange;
}

.status-completed {
  color: green;
}

#tab {
  background-color: green;
}

