<div class="container mt-3">
    <mat-tab-group dynamicHeight>
        <mat-tab id="tab" label="Bookings">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" class="shadow-table">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Booking id </th>
                        <td mat-cell *matCellDef="let element"> <b>{{element._id}}</b> </td>
                    </ng-container>

                    <ng-container matColumnDef="vehicle">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="customClass(element.status)">
                            <b>{{element.status | capitalize }}</b> </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> <b>{{element.startDate | date }} - {{ element.endDate |
                                date }}</b> </td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef> Amount </th>
                        <td mat-cell *matCellDef="let element"> <b>{{element.grandTotal | currency: 'INR'}}</b> </td>
                    </ng-container>

                    <ng-container matColumnDef="details">
                        <th mat-header-cell *matHeaderCellDef> Details </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-raised-button [routerLink]="['/admin/a/booking-details', element._id]"
                                color="primary">Show Details</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </mat-tab>
        <mat-tab label="Completed">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSourceCompleted">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Booking id </th>
                        <td mat-cell *matCellDef="let element"> <b>{{element._id}}</b> </td>
                    </ng-container>

                    <ng-container matColumnDef="vehicle">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="customClass(element.status)">
                            <b>{{element.status | capitalize }}</b> </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> <b>{{element.startDate | date }} - {{ element.endDate |
                                date }}</b> </td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef> Amount </th>
                        <td mat-cell *matCellDef="let element"> <b>{{element.grandTotal | currency: 'INR'}}</b> </td>
                    </ng-container>

                    <ng-container matColumnDef="details">
                        <th mat-header-cell *matHeaderCellDef> Details </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-raised-button [routerLink]="['/admin/a/booking-details', element._id]"
                                color="primary">Show Details</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </mat-tab>
        <mat-tab label="Cancelled">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSourceCancelled">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Booking id </th>
                        <td mat-cell *matCellDef="let element"> <b>{{element._id}}</b> </td>
                    </ng-container>

                    <ng-container matColumnDef="vehicle">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="customClass(element.status)">
                            <b>{{element.status | capitalize }}</b> </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> <b>{{ element.startDate | date }} - {{ element.endDate |
                                date }}</b> </td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef> Amount </th>
                        <td mat-cell *matCellDef="let element"> <b>{{ element.grandTotal | currency: 'INR'}}</b> </td>
                    </ng-container>

                    <ng-container matColumnDef="details">
                        <th mat-header-cell *matHeaderCellDef> Details </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-raised-button [routerLink]="['/admin/a/booking-details', element._id]"
                            color="primary">Show Details</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>