<div class="container">
    <div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <h1 class="navbar-brand">Vehicles</h1>
                <div>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                    <button [routerLink]="['/admin/a/add-vehicle']" mat-raised-button color="primary" class="mb-4"
                        type="submit">Add vehicle</button>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let v of vehiclelist">
            <div class="card">
                <img [src]="getImage(v.images[0] ? v.images[0].toString() : '')" alt="Vehicle Image" width="250px"
                    height="250px">
                <h1>
                    {{v.brand}} {{ v.name }}
                    <span *ngIf="v.isVerified">
                        <mat-icon
                            style="color: green; font-size: 20px; position: absolute; margin-top: 6px; padding-left: 4px;">check_circle</mat-icon>
                    </span>
                </h1>
                <p class="price">{{ v.price | currency:'INR':'symbol':'1.2-2' }}</p>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-1 ms-2">
                            <i class="fas fa-gas-pump"></i>
                        </div>
                        <div class="col-lg-3">
                            <p>{{ v.fuel }}</p>
                        </div>
                        <div class="col-lg-1">
                            <i class="fas fa-car"></i>
                        </div>
                        <div class="col-lg-3">
                            <p>{{ v.model }}</p>
                        </div>
                        <div class="col-lg-1">
                            <i class="fas fa-cog"></i>
                        </div>
                        <div class="col-lg-2">
                            <p>{{ v.transmission == 'Automatic' ? 'AT' : 'MT' }}</p>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <p><i class="fas fa-map-marker-alt"></i><b> {{ v.location }}</b></p>
                    </div>
                </div>
                <div class="card-body" *ngIf="!v.createdBy">
                    <button class="mx-1" mat-raised-button [routerLink]="['/admin/a/edit-vehicle',v._id]"
                        color="primary">Edit</button>
                    <button mat-raised-button (click)="deleteVehicle(v._id)" color="warn">Delete</button>
                </div>
                <div class="card-body" *ngIf="v.createdBy">
                    <button mat-raised-button [routerLink]="['/admin/a/host-vehicle-details', v._id]"
                        color="primary">View Details</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<!-- <button class="mx-1" mat-raised-button (click)="verifyVehicle(v._id, v.createdBy)" color="primary">Verify</button>
<button mat-raised-button (click)="rejectVehiclePopup(v.createdBy)" color="warn">Reject</button> -->