<section>
    <div class="reset-container">
        <div
            style="max-width: 600px; margin: 0 auto; padding: 20px; font-family: Arial, sans-serif; background-color: #f4f4f4; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <h2 style="color: #333333;">Reset Your Password</h2>
            <p style="color: #666666;">Enter your new password and confirm it below:</p>

            <form [formGroup]="resetPassForm" #localform="ngForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                    <mat-label>New Password</mat-label>
                    <input [type]="hideNewPass ? 'password' : 'text'" formControlName="newpass" matInput>
                    <a mat-icon-button matSuffix (click)="hideNewPass = !hideNewPass"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPass">
                        <mat-icon>{{hideNewPass ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                </mat-form-field>
                <div style="width: 423px;" *ngIf="localform.submitted && resetPassForm.controls['newpass'].errors"
                    class="text-danger">
                    <div class="text-red-400 text-sm mb-3" *ngIf="resetPassForm.controls['newpass'].dirty">

                        <span class="block"
                            [ngClass]="{'text-primary': resetPassForm.controls['newpass'].value?.match('^(?=.*[A-Z])')}">At
                            least uppercase letter.</span><br>

                        <span class="block"
                            [ngClass]="{'text-primary': resetPassForm.controls['newpass'].value?.match('(?=.*[a-z])')}">At
                            least one lowercase letter.</span><br>

                        <span class="block"
                            [ngClass]="{'text-primary': resetPassForm.controls['newpass'].value?.match('(.*[0-9].*)')}">At
                            least one digit.</span><br>

                        <span class="block"
                            [ngClass]="{'text-primary': resetPassForm.controls['newpass'].value?.match('(?=.*[!@#$%^&*])')}">At
                            least one special character.</span><br>

                        <span class="block"
                            [ngClass]="{'text-primary': resetPassForm.controls['newpass'].value?.match('.{8,}')}">At
                            least 8 characters long.</span><br>

                    </div>
                </div>

                <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                    <mat-label>Confirm Password</mat-label>
                    <input [type]="hideConfimPass ? 'password' : 'text'" formControlName="confirmpass" matInput>
                    <a mat-icon-button matSuffix (click)="hideConfimPass = !hideConfimPass"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfimPass">
                        <mat-icon>{{hideConfimPass ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                </mat-form-field>
                <div *ngIf="localform.submitted && resetPassForm.controls['confirmpass'].errors">
                    <p class="text-danger"
                        *ngIf="localform.submitted && resetPassForm.controls['confirmpass'].getError('passwordMismatch')">
                        Confirm Password doesn't match.
                    </p>
                </div>

                <button mat-raised-button id="reset-btn" type="submit">Reset Password</button>
            </form>
        </div>
    </div>
</section>